<marco-madera class="author-frame">

  <div class="div_container_all">

    <div class="div_top">
      <app-btn-primary
        label="Modificar Autor"
        (click)="modificarAutor()">
      </app-btn-primary>
      <app-btn-delete
        label="Eliminar Autor"
        (click)="abrirConfirmacion()">
      </app-btn-delete>
    </div>

    <div class="author-header">

      <div class="avatar-frame">
        <img [src]="this.autor?.avatar" class="avatar" />
      </div>

      <div class="author-info">
        <div class="alias" *ngIf="this.autor"> {{ autor.nombreCompleto }} </div>
        <!--<div class="real-name" *ngIf="this.autor">Juan Pérez</div>-->
        <div class="email" *ngIf="this.autor"> {{ autor.correoContacto }} </div>
      </div>

    </div>

    <div class="autor-obras">
      <h2>Obras</h2>
      <div class="div_top">
        <app-btn-primary
          label="Registrar obra"
          (click)="registarObraDigital()">
        </app-btn-primary>
      </div>
      <marco-papel>
        Hola amigos
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sint facere doloribus quos voluptate fuga neque iure nesciunt quaerat ipsa, et consequuntur reiciendis corporis velit, repellat quam, dolorem praesentium recusandae?
        <div style="height: 100px;"></div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores alias explicabo sunt placeat, commodi quasi neque veniam qui odit a totam. Nam, repudiandae aspernatur necessitatibus natus quia eius ad odit.
        <div style="height: 100px;"></div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptates tempora illum aut. Suscipit, error non inventore voluptatibus ab magni quo ipsum, aut eaque saepe voluptatem animi consequatur qui ipsam!

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non perspiciatis assumenda inventore totam dolorem repellendus officia voluptatum cupiditate, corrupti corporis repudiandae voluptates asperiores odio optio placeat quisquam dolor quis!
      </marco-papel>
    </div>
  </div>
  

</marco-madera>

<div class="modal-backdrop" *ngIf="mostrarConfirmacion">

  <marco-papel class="modal-confirm">

    <h2>Eliminar autor</h2>

    <p>
      Esta acción <strong>no se puede deshacer</strong>.
      ¿Estás seguro de que deseas eliminar este autor?
    </p>

    <div class="modal-actions">
      <app-btn-primary
        label="Cancelar"
        (click)="cancelarEliminacion()">
      </app-btn-primary>

      <app-btn-delete
        label="Eliminar"
        [disabled]="eliminando"
        (click)="confirmarEliminacion()">
      </app-btn-delete>
    </div>

  </marco-papel>

</div>
