<marco-madera class="author-frame">

  <div class="div_container_all">

    <div class="div_top">
      <app-btn-primary
        label="Modificar Autor"
        (click)="modificarAutor()">
      </app-btn-primary>
      <app-btn-delete
        label="Eliminar Autor"
        (clicked)="abrirConfirmacion()">
      </app-btn-delete>
    </div>

    <div class="author-header">

      <div class="avatar-frame">
        <img [src]="this.autor?.avatar" class="avatar" />
      </div>

      <div class="author-info">
        <div class="alias" *ngIf="this.autor"> {{ autor.nombreCompleto }} </div>
        <!--<div class="real-name" *ngIf="this.autor">Juan Pérez</div>-->
        <div class="email" *ngIf="this.autor"> {{ autor.correoContacto }} </div>
      </div>

    </div>

    <div class="autor-obras">
      <h2>Obras</h2>

      <div class="div_top">
        <app-btn-primary
          label="Registrar obra"
          (click)="registarObraDigital()">
        </app-btn-primary>
      </div>

      <marco-papel
        *ngFor="let obra of obrasDigitales"
        class="obra-card">

        <div class="obra-content">

          <!-- Imagen -->
          <div class="obra-image">
            <!-- Placeholder por ahora -->
            <img src="assets/image-placeholder.webp" alt="Obra digital" />
          </div>

          <!-- Info -->
          <div class="obra-info">
            <h3 class="obra-titulo">
              {{ obra.titulo }}
              <span class="obra-anio">
                ({{ obra.fechaPublicacion | slice:0:4 }})
              </span>
            </h3>

            <p class="obra-descripcion">
              {{ obra.descripcion }}
            </p>
          </div>

          <!-- Acciones -->
          <div class="obra-actions">
            <div class="obra-actions-top">
              <button
                class="icon-btn edit"
                (click)="editarObra(obra.idObraDigital)">
                ✏️
              </button>

              <button
                class="icon-btn delete"
                (click)="eliminarObra(obra.idObraDigital)">
                🗑️
              </button>
            </div>

            <button
              class="obra-ver-btn"
              (click)="verObra(obra.idObraDigital)">
              Ver obra
            </button>
          </div>

        </div>
      </marco-papel>
    </div>

  </div>
  

</marco-madera>

<div class="modal-backdrop" *ngIf="mostrarConfirmacion">

  <marco-papel class="modal-confirm">

    <h2>Eliminar autor</h2>

    <p>
      Esta acción <strong>no se puede deshacer</strong>.
      ¿Estás seguro de que deseas eliminar este autor?
    </p>

    <div class="modal-actions">
      <app-btn-primary
        label="Cancelar"
        (click)="cancelarEliminacion()">
      </app-btn-primary>

      <app-btn-delete
        label="Eliminar"
        [disabled]="eliminando"
        (clicked)="confirmarEliminacion()">
      </app-btn-delete>
    </div>

  </marco-papel>

</div>
