<div class="pixel-marco">
  <img class="marco-esquina tl" src="/imgs/marco-madera/marco-tl.png" alt="">
  <div class="marco-borde horizontal top" style="background-image: url('/imgs/marco-madera/marco-t.png');"></div>
  <img class="marco-esquina tr" src="/imgs/marco-madera/marco-tr.png" alt="">
  
  <div class="marco-borde vertical left" style="background-image: url('/imgs/marco-madera/marco-l.png');"></div>
  <div class="marco-content">
    <ng-content></ng-content>
  </div>
  <div class="marco-borde vertical right" style="background-image: url('/imgs/marco-madera/marco-r.png');"></div>
  
  <img class="marco-esquina bl" src="/imgs/marco-madera/marco-bl.png" alt="">
  <div class="marco-borde horizontal bottom" style="background-image: url('/imgs/marco-madera/marco-b.png');"></div>
  <img class="marco-esquina br" src="/imgs/marco-madera/marco-br.png" alt="">
</div>
