<marco-madera class="author-frame">

  <div class="div_container_all">

    <h2 class="form-title">
      {{ esEdicion ? 'Modificar categoría' : 'Crear nueva categoría' }}
    </h2>

    <div class="error-box" *ngIf="erroresBackend.length">
      <ul>
        <li *ngFor="let error of erroresBackend">
          {{ error }}
        </li>
      </ul>
    </div>

    <form [formGroup]="form" (ngSubmit)="guardar()" class="data-form">

      <div class="form-field" *ngIf="esEdicion">
        <h3>ID de la categoría</h3>
        <input formControlName="idCategoria" readonly />
      </div>

      <div class="form-field">
        <h3>Nombre de la categoría</h3>
        <input formControlName="nombreCategoria" placeholder="Nombre" />
      </div>

      <div class="form-field">
        <h3>Descripción</h3>
        <input formControlName="descripcionCategoria" placeholder="Descripción" />
      </div>

      <div class="div_submit">
        <app-btn-primary
          [label]="esEdicion ? 'Guardar cambios' : 'Crear categoría'"
          type="submit"
          [disabled]="form.invalid">
        </app-btn-primary>
      </div>

    </form>

  </div>
</marco-madera>